.checkbox-tree {
  overflow: auto;
  max-height: 300px;
  width: 100%;
  border-right: 1px #ccc solid;
  padding: 10px;
}

.checkbox-tree ul {
  padding-left: 20px;
}

.checkbox-tree > ul {
  padding: 0;
}

.checkbox-tree ul li {
  list-style: none;
}
