
<footer class="footer">
  <div class="container clearfix">
		<div class="column-left">
			<p class="copyright">© Copyright 2013 Css Author, All Rights Reserved.</p>
		</div>
		<div class="column-right">
			<nav class="nav nav-footer">
				<ul class="nav-list">
					<li class="nav-item"><a href="" class="nav-link">About Us</a></li>
					<li class="nav-item"><a href="" class="nav-link">Delivery & Returns</a></li>
					<li class="nav-item"><a href="" class="nav-link">Terms & Conditions</a></li>
					<li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
				</ul>
			</nav>
		</div>
  </div>
</footer>
