
<header class="header">
  <div class="top-line clearfix">
  	<div class="container">
  		<nav class="nav nav-top">
  			<ul class="nav-list">
  				<li class="nav-item"><a href="" class="nav-link">Account</a></li>
  				<li class="nav-item"><a href="" class="nav-link">Wishlist</a></li>
  				<li class="nav-item"><a href="" class="nav-link">Checkout</a></li>
  				<li class="nav-item"><a href="" class="nav-link">Log In</a></li>
  				<li class="nav-item"><a href="" class="nav-link">Sign Up</a></li>
  			</ul>
  		</nav>
  	</div>
  </div>
  <div class="container clearfix">
    <div class="column-left">
	  	<div class="logo">
	      <h1 class="title--logo">Leo Shop</h1>
	  	</div>
	  	<nav class="nav nav-primary">
	      <ul class="nav-list">
	      	<li class="nav-item"><a href="" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="" class="nav-link">Women</a></li>
					<li class="nav-item"><a href="" class="nav-link">Men</a></li>
					<li class="nav-item"><a href="" class="nav-link">Other</a></li>
					<li class="nav-item"><a href="" class="nav-link">Purchase</a></li>
	      </ul>
	   	</nav>
	  </div>
	  <div class="column-right">
	   	<form class="search-form">
	   	  <div class="form-group">
				  <input type="search" placeholder="Search.." class="input-search">
				  <button type="submit" class="btn-search"><img src="images/icon-search.png"></button>
			  </div>
			</form>
			<a href="" class="icon sale"><img src="images/icon-sale.png"></a>
			<a href="" class="icon cart"><img src="images/icon-cart.png"></a>
			<span class="description cart">cart (<span class="cart-counter">0</span>)</span>
    </div>
  </div>
</header>
